{% extends 'base.html' %}
{% block title %}
    Disaggregate List
{% endblock title %}
{% block content %}
    This is About Page
    <br>
    {% if disaggregates %}
        <h2>This is Contact Page</h2>
        <h3>Disaggregates</h3>
        <table border="1">
            <thead>
                <th>ID</th>
                <th>Disaggregate-Group ID</th>
                <th>Name</th>
                <th>Code</th>
            </thead>
            {% with aro_var="Saiful" %}
                {% for disaggregate in disaggregates %}
                    <tr>
                        <td>{{ disaggregate.0 }}</td>
                        <td>{{ disaggregate.1 }}</td>
                        <td>{{ disaggregate.2 }}</td>
                        <td>{{ disaggregate.3 }}</td>
                        <td></td>

                    </tr>
                {% endfor %}
            {% endwith %}
        </table>
    {% else %}
        <p>No data found!</p>
    {% endif %}
    <br>
    My array list values are: {{ array_list.0 }}
 <br>Variable Display complete
{% endblock content %}
